/* 기본 리셋+전체 스타일 Body,page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f6f6f6;
  color: #333;
}

.page {
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
}

/* 헤더 꾸미기 */
.header {
  text-align: center;
  padding: 40px 0;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

.header p {
  font-size: 14px;
  color: #777;
}
/* 본문 스타일 */
.content {
  background: white;
  padding: 20px;
  /* background + padding (백그라운드 배경의 padding 값을 늘리면 시각적으로 20px 만큼 커짐) */
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.content h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.content p {
  font-size: 16px;
  line-height: 1.5;
}
/* 버튼 css */
.button-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.btn {
  flex: 1;
  padding: 14px 0;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.primary-btn {
  background-color: #5b68e8;
  color: white;
}

.primary-btn:hover {
  background-color: #3949d4;
  color: white;
}

.secondary-btn {
  background-color: #ddd;
}

.secondary-btn:hover {
  background-color: #ccc;
  transform: translateX(-3px);
}

.footer {
  text-align: center;
  padding: 20px 0;
  color: #666;
  font-size: 14px;
}
